<div class="conainer" style="margin: 100px auto;">
    <div>
        <div class="col-6 offset-3">
            <h1 style="text-align: center; margin-bottom: 20px; margin-top: -80px">Modificar novedad</h1>
            <form action="/admin/novedades/modificar" method="post" enctype="multipart/form-data">
                <input type="hidden" value="{{novedad.id}}" name="id">
                <input value="{{novedad.titulo}}" class="mb-3 row form-control form-control-lg" type="text"
                    name="titulo" placeholder="Título" aria-label=".form-control-lg example">
                <input value="{{novedad.subtitulo}}" class="mb-3 row form-control" type="text" name="subtitulo"
                    placeholder="Subtitulo" aria-label="default input example">
                <div style="display:flex; justify-content:center" class="form-group">
                    <textarea name="cuerpo" cols="85" rows="8">{{novedad.cuerpo}}</textarea>
                </div>

                <div class="mb-3" style="text-align: center;">
                    <p>
                        <label>Imagen: <input type="file" class="form-control" name="imagen" id="imagen" /></label>
                    </p>
                    <p>
                        <label><input type="checkbox" name="img_delete" id="img_delete" value="1">
                            Eliminar imagen actual</label>
                        <input type="hidden" name="img_original" value="{{novedad.img_id}}">
                    </p>


                </div>

                {{#if error}}
                <p style="text-align: center;color: red;font-size: larger;margin-top: 50px;">{{message}}</p>
                {{/if}}
                <div style="text-align: center;">
                    <button style="margin-bottom: -20px;" type="submit"
                        class="btn btn-primary">Guardar</button>
                    <button style="margin-bottom: -20px; margin-left: 10px" type="button"
                        class="btn btn-secondary"><a href="/admin/novedades"
                            style="text-decoration:none; color:white">Cancelar</a></button>
                </div>
            </form>
        </div>
    </div>
</div>